h3 {
    color: whitesmoke;
    font-size: 1.3rem;
    background-color: #263B50;
    width: 100%;
    text-align: center;
    padding: 1.3rem 1rem;
}

strong {
    font-size: 1.6rem;
    color: #747474
}

main {
    margin-bottom: 10%;
}

main section > p {
    padding-right: 5rem;
    padding-left: 5rem;
    line-height: 150%;
}

button {
    margin-top: 1rem;
    color: whitesmoke;
    background-color: #FE8999;
    padding: 1.5rem;
    font-size: 1.3rem;
    font-weight: bold;
    border: none;
    width: 100%
}

/* main style */
main #sectionContainer {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem
}

main div {
    border: 1px dashed gray;
    padding: 1.6rem;
    line-height: 300%
}

main ul {
    list-style-type: circle
}

